[user]
	name = WicHo
	email = 113863333+WicHoDev@users.noreply.github.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = cache
	credentialStore = secretservice
